html {
    height: 100vh;
    padding-left: calc(100vw - 100%);
    background-color: #dea671;
}

body {
    height: 100vh;
    width: 960px;
    margin: 0 auto;
}

header {
    height: 120px;    
}

header img {
    width: 102%;
    position: relative;
    left: -11px;
}

nav {
    display: flex;
    align-items: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

nav img {
    position: absolute;
    width: 100%;
    z-index: -1;
}

nav #tabs {
    display: flex;
    flex: 1;
    padding-top: 2px;
    padding-left: 41px;
    list-style-type: none;
}

nav #tabs li {
    position: relative;
    padding-right: 18.5px;
}

nav #tabs li a {
    color: black;
    z-index: 2;
}

nav #tabs li img {
    display: none;
    z-index: 1;
    position: absolute;
    top: 20px;
    left: -36px;
    width: 300px;
    transform: scaleX(-1);
}

nav #tabs li div {
    display: none;
    position: absolute;
    z-index: 2;
}

nav #tabs li div .postItHeading {
    position: absolute;
    font-size: 17pt;
    line-height: 61px;
    width: 228px;
    text-align: center;
}

nav #tabs li div ul {
    list-style: disc;
    position: absolute;
    top: 56px;
    left: -15px;
    line-height: 30px;
    width: 235px;
}

nav #tabs li:hover img, 
nav #tabs li:hover div {
    display: block;
}

main {
    display: flex;
    margin-top: 5px;
    padding-bottom: 15px;
    flex: 1;
}

article {
    width: 670px;
    flex: 1;
    margin-right: 10px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.4);
    background-color: white;
    max-height: 1000000px;
}

article.noticePage {
    margin: 15px 0 0;
}

aside {
    width: 230px;
    margin-left: 10px;
    padding: 10px 20px 15px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.4);
    background-color: white;
    max-height: 1000000px;
}

aside img {
    width: 100%;
}

blockquote {
    font-style: italic;
    color: grey;
    border-left: 5px solid grey;
    margin-left: 0;
    padding-left: 20px;
}

#container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

#search {
    width: 146px;
    margin-right: 42px;
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: none;
}

#pushpin {
    width: 100px;
    z-index: 1;
    top: 133px;
    right: -53px;
}

#breadcrumb {
    display: flex;
    list-style: none;
    white-space: nowrap;
    margin: 0;
    padding: 9px 20px;
    border-bottom: 1px dashed lightgrey;
}

#breadcrumb li {
    display: inline-block;
}

#breadcrumb li:not(:last-child):after {
    content: ">";
    padding: 0 12px 0 10px;
}

#breadcrumb li:last-child {
    font-style: italic;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 3px;
}
    
#content {
    padding: 10px 20px 15px;
}

#footer {
    display: flex;
    align-items: start;
    height: 175px;
}

#footer img {
    width: 1020px;
    position: absolute;
    left: -31px;
    z-index: -1;
}

#footer .footerText {
    display: flex;
    align-items: center;
    padding: 9px 12px 0 12px;
}

#copyright {
    flex: 1;
}

#updated {
    padding: 0 45px;
}

#developer {
    font-style: italic;
}

#backToTop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 91px;
    height: 62px;
}

#backToTop .upArrow {
    font-size: 26pt;
    text-decoration: none;
}

#backToTop .text {
    width: 45px;
    text-align: center;
    font-size: 10pt;
    font-style: italic;
    line-height: 13px;
}
