.card {
    margin-bottom: 20px;
    padding: 0 10px;
    border: 1px dashed black;
}

.card h3 {
    margin: 10px 0 0 0;
}

.card h4 {
    margin: 4px 0 0 0;
}

.card .metadata {
    margin-top: 8px;
}

.card p {
    margin: 8px 0 10px;
    font-size: small;
}

.metadata {
    font-family: europa;    
    font-style: italic;
}

.interpunct {
    margin-left: 2px;
    font-weight: bolder;
}

.panelWithRightJustifiedImage {
    display: flex;
    margin-top: 15px;
}

.panelWithRightJustifiedImage .content {
    flex: 1;
}

.panelWithRightJustifiedImage h3 {
    margin-top: 0;
}

.panelWithRightJustifiedImage h4 {
    margin-top: 5px;
}

.fullWidthArticleImage {
    width: 100%;
}

.leftArticleImage {
    float: left;
    padding-right: 20px;
}

.rightArticleImage {
    float: right;
    padding-left: 20px;
}

.imageCaption {
    margin-top: 7px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

.notice {
    position: relative;
    margin-top: 11px;
}

.notice .paper {
    width: 100%;
}

.notice .pushpin {
    position: absolute;
    top: -40px;
    right: -50px;
    width: 100px;
}

.notice p {
    position: absolute;
    top: 0;
    left: 71px;
    line-height: 24px;
    width: 525px;
}

.notice p a {
    font-style: italic;
}
