.card {
    margin-bottom: 20px;
    padding: 0 10px;
    border: 1px dashed black;
}

.card h3 {
    margin: 10px 0 0 0;
}

.card h4 {
    margin: 4px 0 0 0;
}

.card .metadata {
    margin-top: 8px;
}

.card p {
    margin: 8px 0 10px;
    font-size: small;
}

.author, .date {
    font-style: italic;
}

.interpunct {
    margin-left: 2px;
    font-weight: bolder;
}

.panelWithRightJustifiedImage {
    display: flex;
    margin-top: 15px;
}

.panelWithRightJustifiedImage .content {
    flex: 1;
}

.panelWithRightJustifiedImage h3 {
    margin-top: 0;
}

.fullWidthArticleImage {
    width: 100%;
}

.leftArticleImage {
    float: left;
    padding-right: 20px;
}

.rightArticleImage {
    float: right;
    padding-left: 20px;
}

.imageCaption {
    margin-top: 7px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.noWrap {
    white-space: nowrap;
}
