html {
    height: 100vh;
    padding-left: calc(100vw - 100%);
}

body {
    height: 100vh;
    max-width: 960px;
    margin: 0 auto;
}

header img {
    margin-left: -1px;
}

nav {
    display: flex;
    height: 64px;
    align-items: center;
}

nav ul {
    display: flex;
    padding-left: 20px;
    flex: 1;
    list-style-type: none;
}

nav ul li {
    padding-right: 20px;
}

main {
    display: flex;
    padding-bottom: 50px;
    flex: 1;
}

article {
    flex: 1;    
}

aside {
    width: 230px;
    padding: 10px 20px;
}

aside img {
    width: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

#search {
    padding: 15px 20px;
}

#breadcrumb {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 9px 20px 7px;
}

#breadcrumb li {
    display: inline-block;
}

#breadcrumb li + li:before {
    content: ">";
    padding: 0 10px;
}

#breadcrumb li:last-child {
    font-style: italic;
}
    
#content {
    padding: 10px 20px;
}

#footer {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: calc(100% - 40px);
    padding: 0 20px;
}

#copyright {
    flex: 1;
}

#updated {
    padding: 0 55px;
}

#developer {
    font-style: italic;
}
