html {
    height: 100vh;
    padding-left: calc(100vw - 100%);
    background-color: #dea671;
}

body {
    height: 100vh;
    width: 960px;
    margin: 0 auto;
}

header {
    height: 120px;    
}

header img {
    width: 102%;
    position: relative;
    left: -11px;
}

nav {
    display: flex;
    align-items: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

nav img {
    position: absolute;
    width: 100%;
    z-index: -1;
}

nav ul {
    display: flex;
    flex: 1;
    padding-top: 2px;
    padding-left: 41px;
    list-style-type: none;
}

nav ul li {
    padding-right: 18.5px;
}

nav ul li a {
    color: black;
}

main {
    display: flex;
    margin: 5px 0 20px;
    padding-bottom: 50px;
    flex: 1;
}

article {
    flex: 1;
    margin-right: 10px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.4);
    background-color: white;
}

aside {
    width: 230px;
    margin-left: 10px;
    padding: 10px 20px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.4);
    background-color: white;
}

aside img {
    width: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

#search {
    width: 146px;
    margin-right: 42px;
    border-bottom: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: none;
}

#breadcrumb {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 9px 20px;
    border-bottom: 1px dashed lightgrey;
}

#breadcrumb li {
    display: inline-block;
}

#breadcrumb li:not(:last-child):after {
    content: ">";
    padding: 0 12px 0 10px;
}

#breadcrumb li:last-child {
    font-style: italic;
}
    
#content {
    padding: 10px 20px 20px;
}

#footer {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: calc(100% - 40px);
    padding: 0 20px;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.4);
    background-color: white;
}

#copyright {
    flex: 1;
}

#updated {
    padding: 0 55px;
}

#developer {
    font-style: italic;
}
