header, nav, main article, main aside, #footer {
    outline: 1px solid black;
}

th, td {
    outline: 2px solid black;
}

#container {
    outline: 2px solid black;
}

#breadcrumb {
    outline: 1px solid black;
    border-bottom: 0.5px solid black;
}

.imagePlaceholder {
    text-align: center;
    vertical-align: middle;
    outline: 1px solid black;
    background: aliceblue;
}

.disableListStyles {
    list-style-type: none;
    padding: 0;
}

.sectionNotStarted {
    color: red;
}

.sectionInProgress {
    color: orange;
}

.sectionComplete {
    color: green;
}
