header, nav, main article, main aside, footer {
    outline: 1px solid black;
}

html {
    height: 100vh;
}

body {
    height: 100vh;
    max-width: 960px;
    margin: 0 auto;
}

#content {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    outline: 2px solid black;
}

header img {
    margin-left: -1px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    padding-right: 20px;
}

main {
    display: flex;
    padding-bottom: 50px;
    flex: 1;
}

main article {
    flex: 1;
    padding: 10px 20px;
}

main aside {
    width: 230px;
    padding: 10px 20px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: calc(100% - 40px);
    padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}
