* {
    outline: 1px solid black;
}

html {
    height: 100vh;
}

body {
    height: 100vh;
    max-width: 960px;
    margin: 0 auto;
}

#content {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
}

nav ul {
    display: flex;
    list-style-type: none;
}

main {
    display: flex;
    padding-bottom: 50px;
    flex: 1;
}

main article {
    flex: 1;
}

main aside {
    width: 250px;
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}
