header, nav, main article, main aside, footer {
    outline: 1px solid black;
}

html {
    height: 100vh;
}

body {
    height: 100vh;
    max-width: 960px;
    margin: 0 auto;
}

#content {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    outline: 2px solid black;
}

header img {
    margin-left: -1px;
}

nav {
    display: flex;
}

nav ul {
    display: flex;
    flex: 1;
    list-style-type: none;
}

nav ul li {
    padding-right: 20px;
}

nav #search {
    padding: 15px;
}

main {
    display: flex;
    padding-bottom: 50px;
    flex: 1;
}

main article {
    flex: 1;
    padding: 10px 20px;
}

main aside {
    width: 230px;
    padding: 10px 20px;
}

main aside #slideshow {
    height: 160px;
    line-height: 160px;
    text-align: center;
    vertical-align: middle;
    outline: 1px solid black;
    background: aliceblue;
}

footer {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: calc(100% - 40px);
    padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
}

h1 {
    font-size: 1.8em;
}

.card {
    margin-bottom: 20px;
    padding: 0 10px;
    border: 1px dashed black;
}

.card h3 {
    margin: 10px 0 0 0;
}

.card h4 {
    margin: 4px 0 0 0;
}

.card .metadata {
    margin-top: 8px;
}

.card p {
    margin: 8px 0 10px;
    font-size: small;
}

.author, .date {
    font-style: italic;
}

.interpunct {
    margin-left: 2px;
    font-weight: bolder;
}

.clamped {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
