@import url("https://use.typekit.net/zdr5cpz.css");

nav {
    font-family: derotterdam;
}

h1, h2, h3, h4, h5, h6 {
    font-family: wafflesoft;
}

h1 {
    font-size: 1.8em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: "uknumberplate";
    src: url("uknumberplate.woff") format("woff");
}

@font-face {
    font-family: "derotterdam";
    src: url("derotterdam.woff") format("woff");
}

@font-face {
    font-family: "wafflesoft";
    src: url("wafflesoft.woff") format("woff");
}
