<footer id="footer">
    <img src="{{ site.baseurl }}/graphics/footer.svg">
    <div id="backToTop">
        <a href="#" class="upArrow">⬆&#xFE0E;</a>
        <a href="#" class="text">Back<br>to the<br>top</a>
    </div>
    <div class="footerText">
        <span id="copyright">Copyright © Triumph Mayflower Club 2005-{{ "now" | date: "%Y" }}</span>
        <span id="updated"><a href="https://github.com/Stack-in-a-box/triumphmayflowerclub.com/releases" target="_blank">Last updated: {{ "now" | date: "%d/%m/%Y" }}</a></span>
        <span id="developer">Website designed and maintained by <a href="https://www.github.com/andidavies92" target="_blank">Andi Emma Davies</a></span>
    </div>
</footer>
