<footer id="footer">
    <img src="{{ site.baseurl }}/graphics/footer.svg">
    <div class="footerText">
        <span id="copyright">Copyright © Triumph Mayflower Club 2005-{{ "now" | date: "%Y" }}</span>
        <span id="updated"><a href="https://github.com/Stack-in-a-box/triumphmayflowerclub.com/releases" target="_blank">Last updated: {{ "now" | date: "%d/%m/%Y" }}</a></span>
        <span id="developer">Website designed and maintained by <a href="mailto:dev@stackinabox.com?subject=Triumph%20Mayflower%20Club%20Website">Andy Davies</a></span>
    </div>
</footer>
