<footer id="footer">
    <img src="{{ site.baseurl }}/graphics/footer.svg">
    <div id="backToTop">
        <a href="#" class="upArrow">⬆&#xFE0E;</a>
        <a href="#" class="text">Back<br>to the<br>top</a>
    </div>
    <div class="footerText">
        <div id="copyright">Copyright © Triumph Mayflower Club 2005-{{ "now" | date: "%Y" }}</div>
        <div id="version">
            <div>
                <a href="https://www.github.com/Stack-in-a-box/triumphmayflowerclub.com/releases" target="_blank">
                    <b>Last updated:</b> {{ "now" | date: "%d/%m/%Y" }}
                </a>
            </div>
            <div>
                <a href="https://www.github.com/Stack-in-a-box/triumphmayflowerclub.com/releases/latest" target="_blank">
                    <b>Website version:</b> <span id="latest"></span>
                    <script async>
                        (async () => {
                            const response = await fetch("https://api.github.com/repos/Stack-in-a-box/triumphmayflowerclub.com/releases/latest");
                            const json = await response.json();

                            document.getElementById("latest").innerText = json.tag_name;
                        })();
                    </script>
                </a>
            </div>
        </div>
        <div id="developer">Website designed and maintained by <a href="https://www.github.com/andidavies92" target="_blank">Andi Emma Davies</a></div>
    </div>
</footer>
