<head>
    <meta charset="utf-8">
    <meta name="author" content="{% if page.author %}{{ page.author }}{% else %}Andy Davies{% endif %}">
    <meta name="description" content="The Triumph Mayflower Club exists to keep these wonderful and unique vehicles on the road and to provide a small part of the motoring heritage for the future.">
    <title>{% if page.title %}{{ page.title }} · {% endif %}Triumph Mayflower Club</title>
    <link href="{{ site.baseurl }}/favicon.ico" rel="shortcut icon">
    <link href="{{ site.baseurl }}/favicon.png" rel="icon">
    <link href="{{ site.baseurl }}/common.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/classes.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/text.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/debug.css" rel="stylesheet" type="text/css">
</head>
