<nav>
    <ul>
        <li><a href="{{ site.baseurl }}/index.html">About</a></li>
        <li><a href="{{ site.baseurl }}/history/history.html">History</a></li>
        <li><a href="{{ site.baseurl }}/news/news.html">News</a></li>
        <li><a href="{{ site.baseurl }}/events/events.html">Events</a></li>
        <li><a href="{{ site.baseurl }}/photos/photos.html">Photos</a></li>
        <li><a href="{{ site.baseurl }}/documents/documents.html">Documents</a></li>
        <li><a href="{{ site.baseurl }}/shop/shop.html">Shop</a></li>
        <li><a href="{{ site.baseurl }}/forum/forum.html">Forum</a></li>
        <li><a href="{{ site.baseurl }}/contact/contact.html">Contact</a></li>
        <li><a href="{{ site.baseurl }}/links/links.html">Links</a></li>
    </ul>
    <div id="search">
        <input type="search">
        <button>Search</button>
    </div>
</nav>
