<li>
    <a href="{{ site.baseurl }}/news/2020/02/2020clubagm">
        2020 Club AGM
    </a>
</li>
<li>
    <a href="{{ site.baseurl }}/news/2020/01/driveyourtriumphday">
        Drive Your Triumph Day
    </a>
</li>
<li>
    <a href="{{ site.baseurl }}/news/2019/08/letourpanoramique2019">
        Le Tour Panoramique 2019
    </a>
</li>
<li>
    <a href="{{ site.baseurl }}/news/2019/07/websitev11islive">
        Website v1.1 is Live!!
    </a>
</li>
<li>
    <a href="{{ site.baseurl }}/news/2019/07/gdprcompliance">
        GDPR Compliance
    </a>
</li>
<li>
    <a href="{{ site.baseurl }}/news/2019/05/northernrally2019">
        Northern Rally 2019
    </a>
</li>
