article h2 {
    margin: 32px 0 12px;
}

article h3 {
    margin: 10px 0 7px;
    text-align: center;
}

.issuePreview {
    display: flex;
}

.issuePreview .frontCover {
    flex: 1;
    margin-right: 5px;
}

.issuePreview .contentsPage {
    flex: 1;
    margin-left: 5px;
}

.issuePreview img {
    max-width: 100%;
}

.imagePlaceholder {
    height: 450px;
    line-height: 450px;
}
