article section {
    display: flex;
}

article section + section {
    margin-top: 30px;
}

article section img {
    width: 180px;
    margin-right: 20px;
}

#oldTmcWebsiteLogo {
    position: relative;
    top: 60px;
}

#triumphSportsSixClubLogo {
    position: relative;
    top: 30px;
}

#standardMotorClubLogo {
    position: relative;
    top: 30px;
}

#triumphRoadsterClubLogo {
    position: relative;
    top: 65px;
}

#triumphRazoredgeOwnersClubLogo {
    position: relative;
    top: 65px;
}

#clubTriumphHollandLogo {
    position: relative;
    top: 40px;
}

#triumphWorldLogo {
    position: relative;
    top: 115px;
}

#historiansWebsiteLogo {
    position: relative;
    top: 100px;
}

#standardTriumphForumLogo {
    position: relative;
    top: 125px;
}

#clubTriumphLogo {
    position: relative;
    top: 50px;
}

#carAndClassicLogo {
    position: relative;
    top: 40px;
}

#classicMotorsportsLogo {
    position: relative;
    top: 75px;
}

#triumph2000250025RegisterLogo {
    position: relative;
    top: 25px;
}

#githubLogo {
    position: relative;
    top: 45px;
}
