article h2 {
    padding-top: 15px;
    text-align: center;
}

table {
    width: 100%;
}

td {
    outline: none;
    width: 50%;
    padding: 5px;
}

td:nth-child(1) {
    text-align: right;
    font-weight: bold;
}

td:nth-child(2) {
    text-align: left;
    font-style: italic;
}
