.carPhotoAndDetailsPanel {
    display: flex;
}

.carPhotoAndDetailsPanel img {
    margin: 10px 0 20px;
    height: 100%;
    width: 50%;
}

.carPhotoAndDetailsPanel ul {
    margin: 0;
}
