table {
    width: 100%;
    color: #cccccc;
    text-shadow: 1.5px 1.5px black;
    font-size: 10.6pt;
}

td {
    outline: none;
    padding: 5px;
}

td:nth-child(1) {
    text-align: right;
    font-weight: bold;
}

td:nth-child(2) {
    text-align: left;
    font-style: italic;
    font-weight: lighter;
}

#string {
    width: 100%;
}

#board {
    position: relative;
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.45);
    margin: -5px 0 5px;
    padding: 115px 36px 60px;
    background-image: url(boardtop.png), url(boardbottom.png), url(boardrepeat.jpg);
    background-position: top, bottom, top;
    background-repeat: no-repeat, no-repeat, repeat;
    background-size: 100%;
}

#board h3 {
    margin: 23px 36px;
    border-bottom: 2px solid #70310096;
    padding: 15px 0 3px;
    text-align: center;
    font-size: 16pt;
    color: #cccccc;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.4);
}

#board #boardPushpin {
    position: absolute;
    width: 80px;
    top: -126px;
    left: 301px;
}

#board .rolesAndPhoto {
    margin-right: 36px;
    display: flex;
    align-items: center;
}

#board .rolesAndPhoto p {
    margin: 0 50px;
    text-align: center;
    font-size: 10pt;
    color: #cccccc;
    text-shadow: 1.5px 1.5px black;
}

#board .rolesAndPhoto img { box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.45); }
