.listing {
    margin: 60px 0 5px;
}

.listing .listingTitle {
    font-size: 20pt;
}

.listing .listingContent {
    display: flex;
    align-items: center;
}

.listing .listingContent .listingPhoto {
    border: 1px solid darkgrey;
    height: 200px;
}

.listing .listingContent .listingDetails {
    margin-left: 20px;
    height: 100%;
    text-align: center;
}

.listing .listingContent .listingDetails .listingDescription {
    margin: 15px 0;
    font-size: 14pt;
}

.listing .listingContent .listingDetails .listingPrice {
    margin: 15px 0;
    font-size: 28pt;
}

.listing .listingContent .listingDetails .inStockMarker,
.listing .listingContent .listingDetails .outOfStockMarker,
.listing .listingContent .listingDetails .madeToOrderMarker {
    margin: 0 0 18px;
}
