#listings {
    display: table;
    width: 100%;
}

.listingRow {
    display: table-row;
}

article section {
    display: table-cell;
    padding-right: 10px;
    width: 50%;
}

article section + section {
    padding-right: 0;
    padding-left: 10px;
}

.listingDetails {
    display: flex;
    align-items: center;  
}

article img {
    height: 200px;
}
