.listing {
    padding: 0 20px;
    margin-bottom: 20px;
    border: 1px dashed grey;
    background: #f0f0f0;
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.4);
}

.listing img {
    float: right;
    padding-left: 20px;
}
