<!DOCTYPE html>
<html lang="en-GB">
    {% include head.html %}
    <body>
        <div id="container">
            {% include header.html %}            
            {% include nav.html %}
            <main>
                <article>
                    <ol id="breadcrumb">
                        <li>
                            <a href="{{ site.baseurl }}/index.html">Home</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/events/events.html">Events</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/events/calendars/calendars.html">Calendars</a>
                        </li>
                        <li>{{ page.region }}</li>
                    </ol>
                    <div id="content">
                        <h1>Events in {{ page.prefix }}{{ page.region }}</h1>
                        <p>Page content...</p>
                    </div>
                </article>
                <aside>
                    <section>
                        <h2>No details available</h2>
                        <p>Unfortunately, we don’t have any details for this region at present. If you feel you could compile a calendar or someone you know would like to compile one (by searching the internet or by other means), please send details in the format opposite to Rob Davies for inclusion on this page.</p>
                        <p>If you know of events in this region that you feel <em>should</em> be included here, again, please let Rob know and we’ll get them added.</p>
                        <section>
                            <h3>Rob Davies</h3>
                            <p>Phone: <a href="tel:+441291623388">(01291) 623388</a></p>
                            <p>Email: <a href="mailto:robertldavies@btinternet.com?subject=Missing%20TMC%20Events%20Details">robertldavies@btinternet.com</a></p>
                        </section>
                    </section>
                </aside>
            </main>
            {% include footer.html %}
        </div>
    </body>
</html>
