<!DOCTYPE html>
<html lang="en-GB">
    {% include head.html %}
    <body>
        <div id="container">
            {% include header.html %}            
            {% include nav.html %}
            <main>
                <article>
                    <ol id="breadcrumb">
                        <li>
                            <a href="{{ site.baseurl }}/">Home</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/events">Events</a>
                        </li>
                        <li>
                            <a href="{{ site.baseurl }}/events/calendars">Calendars</a>
                        </li>
                        <li>{{ page.region }}</li>
                    </ol>
                    <div id="content">
                        <h1>Events in {{ page.prefix }}{{ page.region }}</h1>
                        <p><i><b>Note:</b> this list is currently very limited – please check the sidebar if you might be able to help us fill it in more!</i></p>
                        <p>A list of local events have been compiled into a tabular format for quick reference. The events are not necessarily Mayflower-related but are all to do with cars or transport. All important national events, such as TMC events, are highlighted in yellow for easy identification. Red text indicates events that happened in the previous year and current details of the equivalent events for this year are not yet available.</p>
                        <p>Click one of the links below for the year you are interested in to open/download the most recent version of that year’s calendar. We will update this PDF as and when new information becomes available and will also indicate the date on which this was updated so that you know whether or not information has changed since you last checked the list.</p>
                        {{ content }}
                    </div>
                </article>
                <aside>
                    <section>
                        <h2>Limited details available</h2>
                        <p>Unfortunately, we don’t have many details for this region at present. If you feel you could compile a calendar or someone you know would like to compile one (by searching the internet or by other means), please ask Rob for a template document to fill in and return to him for inclusion on this page.</p>
                        <p>If you know of events in this region that you feel <em>should</em> be included here, again, please let Rob know and we’ll get them added.</p>
                        <section>
                            <h3>Rob Davies</h3>
                            <img src="{{ site.baseurl }}/robdavies.jpg" alt="Rob Davies">
                            <p>Phone: <a href="tel:+441291623388">(01291) 623388</a></p>
                            <p>Email: <a href="mailto:robertldavies@btinternet.com?subject=Missing%20TMC%20Events%20Details">robertldavies@btinternet.com</a></p>
                        </section>
                    </section>
                </aside>
            </main>
            {% include footer.html %}
        </div>
    </body>
</html>
