aside ul {
    text-align: center;
}

aside ul li h3 {
    margin-bottom: 1px;
}

aside ul li .numberPlateMarker {
    margin-bottom: 7px;
}

aside ul li .awardMarker {
    margin-bottom: 7px;
}

#gallery {
    display: table;
    width: 100%;
}

.galleryRow {
    display: table-row;
}

.galleryImage {
    display: table-cell;
    vertical-align: middle;
    padding-right: 10px;
    width: 50%;
}

.galleryImage + .galleryImage {
    padding-right: 0;
    padding-left: 10px;
}

.galleryImage img {
    width: 100%;
}
